.asscache
.gradle
.env
gradle/caches
gradle/native
gradle/wrapper/dists
.idea
.directory
build
out
target
*.log
classes/
src/main/webapp/build.properties
target
*.ids
*.iml
*plugin.xml
stacktrace.log
*.bat

